name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  desktop-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4
      - name: Setup Java 11
        uses: actions/setup-java@v3
        with:
          distribution: "adopt"
          java-version: 11
      - name: Build desktop jar
        run: ./gradlew desktop:dist
      - name: Upload desktop jar
        uses: actions/upload-artifact@v2
        with:
          name: Desktop JAR
          path: desktop/build/libs/desktop*.jar
  # plantuml:
  #   needs: desktop-build
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v2.3.4
  #     - name: Setup Java 11
  #       uses: actions/setup-java@v3
  #       with:
  #         distribution: "adopt"
  #         java-version: 11
  #     - name: Install tools
  #       run: |
  #         sudo apt install graphviz
  #         wget https://sourceforge.net/projects/plantuml/files/plantuml.jar
  #         wget https://github.com/mirajp1/java2plantuml/raw/master/java2plantuml.jar
  #     - name: Generate PlantUML puml
  #       run: |
  #         java -jar java2plantuml.jar core/src
  #         mv output.puml plantuml.puml
  #     - name: Generate PlantUML png
  #       run: java -jar plantuml.jar plantuml.puml
  #     - name: Upload PlantUML artifacts
  #       uses: actions/upload-artifact@v2
  #       with:
  #         name: PlantUML diagram
  #         path: |
  #           plantuml.puml
  #           plantuml.png
  # svn:
  #   needs: desktop-build
  #   runs-on: ubuntu-latest
  #   if: github.event_name == 'push'
  #   env:
  #     LINK: ${{ secrets.SVN_LINK }}
  #     USERNAME: ${{ secrets.SVN_USERNAME }}
  #     PASSWD: ${{ secrets.SVN_PASSWD }}
  #     COMMIT_MSG: ${{ github.event.head_commit.message }}
  #   steps:
  #     - name: Checkout git repository
  #       uses: actions/checkout@v2.3.4
  #       with:
  #         path: git-repo
  #     - name: Checkout svn repository
  #       run: svn co "$LINK" --non-interactive --username "$USERNAME" --password "$PASSWD" svn-repo
  #     - name: Push git to svn
  #       run: |
  #         rm -rf src ../git-repo/.git
  #         cp -r ../git-repo src
  #         svn add --force src
  #         svn status | grep ! | cut -d! -f2| sed 's/^ *//' | sed 's/^/"/g' | sed 's/$/"/g' | xargs -r svn rm
  #         svn commit --non-interactive --username "$USERNAME" --password "$PASSWD" -m "$COMMIT_MSG"
  #       working-directory: svn-repo
  html-build:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4
      - name: Setup Java 11
        uses: actions/setup-java@v3
        with:
          distribution: "adopt"
          java-version: 11
      - name: Cache html build
        if: github.event_name == 'push'
        uses: actions/cache@v2.1.6
        with:
          path: html/build/dist
          key: ynh-html-${{ github.run_id }}
      - name: Build html
        run: ./gradlew html:dist
  html-deploy:
    needs: html-build
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4
      - name: Restore cached html build
        uses: actions/cache@v2.1.6
        with:
          path: html/build/dist
          key: ynh-html-${{ github.run_id }}
      - name: Deploy on Github Pages
        uses: JamesIves/github-pages-deploy-action@4.1.3
        with:
          branch: gh-pages
          folder: html/build/dist
